#para-name {
   font-family: 'Courier New', Courier, monospace;
   font-size: 130%;
   font-style: italic;
}

.image-text {
   text-align: center;
   margin-top: 240px;
}
.image-links{
   margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items:center;
   
}
#frontimage{
   height: 100px;
   border:3px solid grey;
}
#img-1 {
   filter: drop-shadow(0 0 0.75rem rgb(234, 96, 96));
   border: 3px solid rgb(234, 96, 96);
   height: 50px;
   width: 50px;
   border-radius: 100px;
}

#img-2 {
   margin: 5px;
   filter: drop-shadow(0 0 0.75rem rgb(67, 180, 67));
   border: 3px solid rgb(67, 180, 67);
   height: 50px;
   width: 50px;
   border-radius: 100px;
} 

#img-3 {
   filter: drop-shadow(0 0 0.75rem rgb(78, 78, 221));
   border: 3px solid rgb(78, 78, 221);
   height: 50px;
   width: 50px;
   border-radius: 100px;
}

#img-1:hover {
   opacity: 0.7;
}

#img-2:hover {
   opacity: 0.7;
}

#img-3:hover {
   opacity: 0.7;
} 
/* ul {
   list-style-type: none;
}

li {
   margin: 20px;
} */