#para-name {
   font-family: 'Courier New', Courier, monospace;
   font-size: 130%;
}

.image-text {
   margin-left: 70px;
}

#frontimage {
   filter: drop-shadow(0 0 0.75rem grey);
   border: 5px solid black;
   margin-top: 100px;
   margin-left: 250px;
   width: 200px;
   border-radius: 100px;
}

#hi-name {
   margin-top: -180px;
   margin-left: 500px;
}

#para-name {
   margin-left: 500px;
}

.image-links {
   margin-left: 565px;
}

#img-1 {
   filter: drop-shadow(0 0 0.75rem rgb(234, 96, 96));
   border: 3px solid rgb(234, 96, 96);
   height: 50px;
   width: 50px;
   border-radius: 100px;
}

#img-2 {
   filter: drop-shadow(0 0 0.75rem rgb(67, 180, 67));
   border: 3px solid rgb(67, 180, 67);
   height: 50px;
   width: 50px;
   border-radius: 100px;
}

#img-3 {
   filter: drop-shadow(0 0 0.75rem rgb(78, 78, 221));
   border: 3px solid rgb(78, 78, 221);
   height: 50px;
   width: 50px;
   border-radius: 100px;
}

#img-1:hover {
   opacity: 0.7;
}

#img-2:hover {
   opacity: 0.7;
}

#img-3:hover {
   opacity: 0.7;
}

#social-comment {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   opacity: 0.7;
   margin-left: 180px;
   margin-top: -40px;
}

ul {
   list-style-type: none;
}

li {
   margin: 20px;
}

#skill-c {
   /* filter: drop-shadow(0 0 0.75rem black); */
   height: 50px;
   width: 50px;
   border-radius: 100px;
}

#skill-java {
   /* filter: drop-shadow(0 0 0.75rem black); */
   height: 50px;
   width: 50px;
   border-radius: 100px;
}

#skill-html {
   /* filter: drop-shadow(0 0 0.75rem black); */
   height: 50px;
   width: 50px;
   border-radius: 100px;
}

#skill-css {
   /* filter: drop-shadow(0 0 0.75rem black); */
   height: 50px;
   width: 50px;
   border-radius: 100px;
}

#skill-js {
   /* filter: drop-shadow(0 0 0.75rem black); */
   height: 50px;
   width: 50px;
   border-radius: 100px;
}

#progress-c {
   height: 20px;
   width: 55%;
   margin-left: 60px;
   margin-top: -34px;
}

#progress-java {
   height: 20px;
   width: 55%;
   margin-left: 60px;
   margin-top: -34px;
}

#progress-html {
   height: 20px;
   width: 55%;
   margin-left: 60px;
   margin-top: -34px;
}

#progress-css {
   height: 20px;
   width: 55%;
   margin-left: 60px;
   margin-top: -34px;
}

#progress-js {
   height: 20px;
   width: 55%;
   margin-left: 60px;
   margin-top: -34px;
}

#box-for-progress {
   border-radius: 20px;
   margin-left: 130ch;
   margin-top: -31ch;
   height: 250px;
   width: 350px;
   border: 3px solid black;
   filter: drop-shadow(0 0 0.75rem black);
}
#reason-for-progress{
   
}