*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: rgb(84, 125, 64);
    padding: 0;
}
nav a{
    font-size: smaller;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: none;
}
nav a:hover{
    background-color: white;
    color: black;
}
nav a:active{
    color: red;
}
nav input{
    margin-left: 15px;
    padding: 5px;
    border-radius: 20px;
    border: none;
}
nav input:hover{
    box-shadow: 0 0 0.75rem;
    /* opacity: 0.7; */
}
nav button{
    margin-left: 10px;
    padding: 5px;
    border-radius: 20px;
    border: none;
}
nav button:hover{
    box-shadow: 0 0 0.75rem;
}
nav button:active{
    color: rgb(125, 64, 64);
}
/* @keyframes animation-container{ @keyframes specifies the animation name
    from{
        background-color: red;
    }
    t{
        background-color: yellow;
    }
}
.animation-container{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animation-container;
    animation-duration: 5s;
    border-radius: 100%;
    animation-fill-mode: backwards; makes the animation reverse 
} */
